@charset "UTF-8";

@font-face {
  font-family: "match-pix";
  src:url("fonts/match-pix.eot");
  src:url("fonts/match-pix.eot?#iefix") format("embedded-opentype"),
    url("fonts/match-pix.woff") format("woff"),
    url("fonts/match-pix.ttf") format("truetype"),
    url("fonts/match-pix.svg#match-pix") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "match-pix" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "match-pix" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fire:before {
  content: "l";
}
.icon-food:before {
  content: "m";
}
.icon-heart:before {
  content: "n";
}
.icon-lab:before {
  content: "o";
}
.icon-like:before {
  content: "p";
}
.icon-tv:before {
  content: "q";
}
.icon-truck:before {
  content: "r";
}
.icon-shop:before {
  content: "s";
}
.icon-diamond:before {
  content: "t";
}
.icon-clock-1:before {
  content: "u";
}
.icon-banknote:before {
  content: "v";
}
.icon-cup:before {
  content: "w";
}
.icon-lock:before {
  content: "x";
}
.icon-megaphone:before {
  content: "y";
}
.icon-music:before {
  content: "z";
}
.icon-paperplane:before {
  content: "a";
}
.icon-star:before {
  content: "b";
}
.icon-vallet:before {
  content: "c";
}
.icon-key:before {
  content: "d";
}
